{{#each errors }}
<div class="alert alert-primary">{{text}}</div>
{{else}}
<div class="alert alert-primary">Enter all information</div>
{{/each}}
<form action="/students" method="POST">
  <div class="form-group">
    <label for="name">Name</label>
    <input type="text" class="form-control" name="name" placeholder="Enter Name">
  </div>
   <div class="form-group">
    <label for="age">Age</label>
    <input type="number" class="form-control" name="age" placeholder="Enter Age">
  </div>
   <div class="form-group">
    <label for="language">Language</label>
    <input type="text" class="form-control" name="language" placeholder="Enter Language">
  </div>
  <button type="submit" class="btn btn-primary">Submit</button>
</form>